# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - divineharmonycare

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_4EB57A6B57A0439F8641DB81EA5C7BBC }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_0BB910935B774EC389F1571F7B76D431 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/shrajanb/divineharmonycare:${{ github.sha }}
            ghcr.io/shrajanb/divineharmonycare:latest
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    needs: build

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B38B22A34AB347EBAAA51EEB0D82D489 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0C2F9C2A9850466CAB659D61A8D2C6F7 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E40A58A48E724FA9932A0B21A524D0FD }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'divineharmonycare'
          slot-name: 'Production'
          images: 'ghcr.io/shrajanb/divineharmonycare:${{ github.sha }}'
